body
{
	background-image: url(sources/bg.jpg);
	background-size: cover;
}
table
{
	border-collapse: collapse;
	width: 100%;
}
img
{
	width: 200px;
}
h2
{
	font-family: Viner Hand ITC;
	font-size: 50px;
	color: yellow;
	text-align: center;
}
th, td
{
	font-family:Arial;
	font-size: 15px;
	padding: 10px;
	color: yellow;
	text-align: center;
	border: 3px solid white;
}
.column, .earth, .jupiter, .mars, .venus
{
	background-color: darkslategray;
}